<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Article Add</h1>
    <form action="/add" method="post">
      <input type="text" name="title"/>
      <textarea type="text" name="body"></textarea>
      <input type="submit" value="add" />

    </form>

  </body>
</html>
