<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Article Edit</h1>
    <form action="/update/<%=article.id%>" method="post">
      <input type="text" name="title" value="<%=article.title%>"/>
      <textarea type="text" name="body"><%=article.title%></textarea>
      <input type="submit" value="update" />

    </form>

  </body>
</html>
